<html>
<head>
	<title>Profile</title>
	<style type="text/css">
		body {
			margin: 1em 10%;
		}

		h1 {
			background-color: transparent;	
		}
		a {
			background-color: transparent;	
			font-weight: bold;
			text-decoration: none;
		}

		u1 {
			padding: 0;	
		}

		li {
			float: left;	
			padding: 1em;
			list-style: none;
		}

		.content {
			text-align: center;	
		}
	</style>
	<script type="text/javascript">
		function showText(whichText) {
			var source = whichText.getAttribute("data");		
			var text = document.getElementById(source);
			var placeHolder = document.getElementById("placeholder");
			placeholder.innerHTML = text.innerHTML;
		}
	</script>
</head>
<body>
	<div class="content">
	<ul>
		<li>
			<span data="t1" onclick="showText(this);return false;">公司介绍</span>
		</li>
		<li>
			<span data="t2" onclick="showText(this);return false;">企业文化</span>
		</li>
		<li>
			<span data="t3" onclick="showText(this);return false;">服务中心</span>
		</li>
		<li>
			<span data="t4" onclick="showText(this);return false;">联系我们</span>
		</li>
	</ul>
	</div>
	<div style="clear:both"></div>
	<div class="text">
		<div id="placeholder">
			<h1>公司介绍</h1>
			<p>   深圳市六渡国际货运代理有限公司是国家商务部，交通部和海关总署批准成立的一级国际货运代理企业，是专业从事第三方综合物流服务的运营商。</p>

			<p>   深圳市六渡国际货运代理是一家以货物运输为核心，结合报关、仓储、货运保险等多元化发展的企业。在多年的业务发展过程中，公司建立了完善的全球和国内的业务代理网络，和多家大型船务公司、航空公司建立了密切长期的协作关系</p>

	        <p>   作为一家专业的国际物流服务公司，自公司成立以来，我们一直秉承“创新·发展·高速·方便”的经营理念，以客户要求量身打造最适合的物流方案为经营目标，为客户提供安全、快捷、低成本的优质服务。并且在先进的物流IT系统支持下，充分整合集团和社会物流资源，为客户提供全方位物流及增值服务。</p>

	        <p>   我们公司现代理多条航线，优势遍布世界各地！</p>

	        <p>   在市场激烈竞争下，公司目前迅速发展成为在中国各主要经济发达城市拥有自己经营网络的综合物流服务商，为广大国际物流、仓储等公司提供专业、高效、稳定的物流服务。希望我们六渡国际货运能与您共同驰骋壮大！</p>
		</div>

		<div id="t1" style="display: none">
			<h1>公司介绍</h1>
			<p>   深圳市六渡国际货运代理有限公司是国家商务部，交通部和海关总署批准成立的一级国际货运代理企业，是专业从事第三方综合物流服务的运营商。</p>

			<p>   深圳市六渡国际货运代理是一家以货物运输为核心，结合报关、仓储、货运保险等多元化发展的企业。在多年的业务发展过程中，公司建立了完善的全球和国内的业务代理网络，和多家大型船务公司、航空公司建立了密切长期的协作关系</p>

	        <p>   作为一家专业的国际物流服务公司，自公司成立以来，我们一直秉承“创新·发展·高速·方便”的经营理念，以客户要求量身打造最适合的物流方案为经营目标，为客户提供安全、快捷、低成本的优质服务。并且在先进的物流IT系统支持下，充分整合集团和社会物流资源，为客户提供全方位物流及增值服务。</p>

	        <p>   我们公司现代理多条航线，优势遍布世界各地！</p>

	        <p>   在市场激烈竞争下，公司目前迅速发展成为在中国各主要经济发达城市拥有自己经营网络的综合物流服务商，为广大国际物流、仓储等公司提供专业、高效、稳定的物流服务。希望我们六渡国际货运能与您共同驰骋壮大！</p>		
		</div>
		<div id="t2" style="display: none">
        <h1>六渡使命</h1>
        <p>   客户提出的要求，是我们发展的动力，客户潜在的需求，是我们努力的方向。六渡服务于世界各地有物流需求的客户，为全球客户提供全方位高质量高价值的综合性物流相关服务，从而为社会创造贡献。</p>

        <h1>六渡目标</h1>
        <p>   公司经营以服务为本！一切以市场需求及客户满意为前提，以创新为动力，以发展为契机，让您充分享受高速，方便，经济的一流服务！</p>

        <h1>六渡理念</h1>
        <p>   公司理念在“人文关怀，快乐成长，发掘价值，体现尊严”的高度浓缩下展开，高度浓缩的字眼非常独特展现出了思想在目前商业领域的发展方向以及发展内容，真正做到思想与理念的融合十分到位。</p> 
        <p>   “人文”较高概括思想层面面世的一个切入点。“人文”是一个较为客观存在的范围，但又较高范围的概括，充分满足事业发展范围的需要。“成长”“价值”“尊严”则是“人文关怀”的极好表现方面。我们事业的发展过程中细节则可对“价值发掘”“尊严体现”“成长快乐”进一步做到融合。</p> 
        <p>    公司理念在高度浓缩的指导理念下展开了对所有参与人员之间的关系进行指导。用人为本贯穿起整个公司集团的运行理念。
        </p> 
        <p>   核心层与内部成员的关系，主要是核心层对公司的运行，平台的构建，作战团队的构建上，不断发掘如何将灵魂、理念、文化、体系贯彻到这个过程，将公司集团与员工联结在一起，从而实现大家之梦，集团之梦。</p> 
        <p>内部成员与面向对象（消费者、服务群）的关系，则是内部成员作为核心层与面向对象的中介，将核心层关于公司，缔造之因和期待传递到消费者，实现大面积、大规模效益的集团和服务群的对接，实现集团成就他人价值，帮助他人获得尊严生活和人文关怀，实现梦想与追求的梦想。</p> 
        <p>   核心层与面向对象的关系，以成就服务群和成长服务群作为集团之追求，他人之尊严与价值及梦想。即是我们之普世观。实现方式为文化、为服务、为帮助、为其成长与发掘。</p> 
        <p>   围绕核心层、内部成员、面向对象（消费者、服务群）三者之间关系的运转，核心理念为知行合一，理念为理论指导标向，核心理念指导我们要用行动去诠释每一个联系细节。</p> 
        <p>   为构建公司集团的大方向，核心层一向秉着由小到大才是美的原则。那么，在如此制高点下的理念执行，就必须由新的原则来引领初期集团的建设。“求乎其上，行乎其中”理念是完成初期建设的信心之源，同时也支持着事业初期成功的基垫，至高的理念的完成必须明确它的高度性以及难度。那么，这些理念的指示覆盖下进行中级要求的行动是完全可行的。</p>

		<h1>报关报检</h1>
		<p>出口报关</p>
　　    <p>委托单位只需要提供货物的名称、数量、型号规格、毛重净重、总金额、出口目的地等，如进出口货物属于法定检验之类别或其他各种需要由商检局鉴定出证的，均须在出口前到当地的出入境检疫局行进申报，需加提供报检委托书。我司即可代为报关、清关，同时提供报关时所需各类单证，城市；</p>


　　    <h1>进口报关</h1>
　　    <p>专业处理审单、制单、递单、缴税、查验等相关工作基本程序。进口报关的主要流程为：申报→审核单证→查验货物→办理征税→结关放行→货物运输。</p>


　　    <h1>注意事项</h1>
　　    <p>进出口报关，不同的货物有不同的监管条件，需在报关前确认该货物的监管条件，与所需文件，配合我司快速清关。</p>
　　    <p>随着海关作业的日益透明化，作为非关税壁垒重要手段的检验检疫在国际贸易中起着越来越重要的角色，有时甚至成为决定交易能否达成的关键因素。我 司是第一批获得国家检验检疫机构批准的代理报检单位，拥有专业的代理报检队伍，能为客户提供周到的服务。</p>


　　    <h1>所需单证</h1>
　　    <p>报关委托书、合同、发票、装箱单、运保费发票、监管证件、提运单、到货通知、其他单据。</p>
			
		</div>
		<div id="t3" style="display: none">
        <h1>海运</h1>
        <p>代理各类进出口货物的运输及报关、商检、危险品申报、仓储、地面运输等业务，承办集装箱、大件设备的多式联运以及门到门运输业务，提供进口分拨和出口集运业务的全程服务，提供货物的信息跟踪反馈服务并代理运输保险业务，提供航线设计、运价咨询、成本核算等服务以及工程招投标项目的物流服务！</p>
        <p>我们拥有遍布世界各地的服务代理网络和健全的分支机构，与COSCO,CMA CGM,K-LINE,MAERSK，APL等世界著名的船公司多年合作并建立起的良好关系是为您提供最有效率的运输、最低廉运价的强力保证！</p>

        <p>海运配套服务：六渡定充分发挥其专业报关优势，为客户提供码头堆场预留空柜、拖车、商检、报关一站式服务。只要告诉您的需求，剩下的事情交给我们，您可以随时掌握货物的流通情况，又可以置身于繁琐的物流环节之外，更好的专注国际市场。</p>

        <p>门到门服务：拥有在世界各地都有代理的优势，为客户提供全球400多个代理点的门到门服务。快速、准确的将货物送到您的指定地点。</p>

        <h1>空运</h1>
        <p>六渡空运部主要经营国际空运。一直以专业的态度和有竞争力的价格服务于客人。我们以深圳市场为依托，整合深圳，广州，香港三大机场的优势，航线覆盖全球的每个国际机场和大部分偏远点。公司拥有一批资深的经过专业培训精诚敬业的国际物流业务员和单证操作员，充分利用港澳自由贸易区的优势，为客户提供选择多样，操作灵活的空运服务；配合您的生产、运输、收款等各环节，最大程度的节约您宝贵的时间﹑人力，降低资金和时间风险，让您从此不再为交货期短和运输烦杂而烦扰。
主要合作的航空公司有UPS，FEDEX，DHL，EK，KU，KQ，CX，CA、CZ等。我司在全球有非常全面的代理网络，能为客人提供各类型的服务，在一些特殊物品方面，我司也具备一定的操作实力。秉承“人文关怀，快乐成长，发掘价值，体现尊严”的理念，我们寻求更多与您合作的机会。</p>

       <p>六渡国际空运服务项目</p>
	   <ul>
			<li>提供直飞及转运空运服务至世界主要城市；</li>
            <li>固定时间、航班拼货服务，有效节省运输成本；</li>
			<li>空海、航空运输及运输方案提供；</li>
            <li>进口空运本地报关、配送、清关、转关、仓储、跟踪服务。</li>
       </ul>
       <p>国际空运运费的组成</p>
       <ul>
　　       <li>Airfreight运费</li>
　　       <li>Fuelsurcharge燃油附加费</li>
　　       <li>安检费</li>
　　       <li>机场操作费</li>
　　       <li>终端费用</li>
　　       <li>航空主单费</li>
　　       <li>报关商检费</li>
	  </ul>


　　  <p>国际空运托运所需资料</p>
　　  <p>货物资料：品名、件数、重量、箱规尺寸，目的港及目的港收货人名称、地址、电话、出货时间，发货人名称、电话、地址。</p>
　　  <p>报关资料：清单、合同、发票、手册、核销单等；填写报关委托书并盖章及盖章空白信纸1份以备报关过程中备份需要。</p>

      <p>我司将会竭尽一切所能向每一位客户提供优良、快捷、便利、全面而周到的服务，我们以通过提供空运服务来缩短世界的距离为己任，期待与您的合作！</p>
			
		</div>
		<div id="t4" style="display: none">
		<h1>深圳市六渡国际货运代理有限公司</h1>
<p>电话：</p>
<p>传真：</p>
<p>邮箱：</p>
<p>邮编：</p>
<p>地址：</p>			
		</div>
	</div>
</body>
</html>
