<html>
<head>
	<title>Profile</title>
	<style type="text/css">
		body {
			margin: 1em 10%;
		}

		h1 {
			background-color: transparent;	
		}
		a {
			background-color: transparent;	
			font-weight: bold;
			text-decoration: none;
		}

		u1 {
			padding: 0;	
		}

		li {
			float: left;	
			padding: 1em;
			list-style: none;
		}
	</style>
	<script type="text/javascript">
		function showText(whichText) {
			var source = whichText.getAttribute("data");		
			var text = document.getElementById(source);
			var placeHolder = document.getElementById("placeholder");
			placeholder.innerHTML = text.innerHTML;
		}
	</script>
</head>
<body>
	<h1>Chinese Text</h1>
	<ul>
		<li>
			<span data="t1" onclick="showText(this);return false;">title 1</span>
		</li>
		<li>
			<span data="t2" onclick="showText(this);return false;">title 2</span>
		</li>
		<li>
			<span data="t3" onclick="showText(this);return false;">title 3</span>
		</li>
		<li>
			<span data="t4" onclick="showText(this);return false;">title 4</span>
		</li>
	</ul>
	<div style="clear:both"></div>
	<p id="placeholder">t1xxxxx</p>
	<h1>xxxx</h1>
	<p id="t1" style="display: none">t1xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p id="t2" style="display: none">t2xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p id="t3" style="display: none">t3xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p id="t4" style="display: none">t4xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<p style="display: none">xxxxxfdsfjdslakfjdslkafjsadlk;fjadslkfjklas</p>
	<h1>xxxx</h1>
</body>
</html>
