<html>
<head>
</head>
<body>
	<form action="/send_mail" method="post">
		<table>
			<tr>
				<td>收件人:</td>
				<td><input type="text" style="width:500px" name="reciever"/></td>
			<tr>
			<tr>
				<td>发件人:</td>
				<td><input type="text" style="width:500px" name="sender"/></td>
			<tr>
			<tr>
				<td>邮件标题:</td>
				<td><input type="text" style="width:500px" name="fname"/></td>
			<tr>
			<tr>
				<td>邮件内容:</td>
				<td>
					<textarea rows="30" cols="100">
					</textarea>

				</td>
			<tr>
			<tr>
				<td></td>
				<td><input type='submit' value='发送'/></td>
			</tr>
		</table>
	</form>
</body>
</html>